@import "./mixins";

#main{
    .section{
        width: 100%;
        height: 100vh;
        display: flex;
        background-image: url(../assets/img/background.png);
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        @include mobile{
            background-image: url(../assets/img/background.png);
            background-size: auto;
        }
        &_items{
            .text1{
                font-size: 40px;
                color: #fff;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

        }

    .stars{
        margin-bottom: 40px;

    }
    .text2{
        color: #fff;
        font-size: 20px;
    }
    .text3{
        color: #fff;
        font-size: 20px;
    }
}
}